
  <div class="row">
    
    <div class="col-md-12">
      <app-card cardTitle="Liste des vols " blockClass="table-border-style">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Nature de vol</th>
              <th>N° de sequence</th>
              <th>Date</th>
              <th>type</th>
              <th>Parcours</th>
              <th>coaf</th>
              <th>reservation</th>
              <th>vendu</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr class="table-success">
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="table-warning">
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>5</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>6</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr class="table-danger">
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>7</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr class="table-info">
              <td>9</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            </tbody>
          </table>
        </div>
        
      <button type="button" class="btn btn-outline-danger" ngbTooltip="btn-outline-danger">Impressionner liste de vols</button>
    
      </app-card>
    </div>
    
    
  
  
  
</div>
